.st-key-test button{
    background-color: blue;
}
.my-button btn_html{
    background-color: #00FF00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}